[Unit]
Description=CertWarden Deployer binary
Documentation=https://gitlab.lila.network/lila-network/certwarden-deploy

[Service]
# uncomment if you want to use a different user than root
# User=certwarden-deploy
# Group=certwarden-deploy
ExecStart=/usr/local/bin/certwarden-deploy


[Install]
WantedBy=multi-user.target
